[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

websockets = "*"
flask = "*"
gpustat = "*"
pillow = "*"
requests = "*"
torchvision = "*"
torch = "==0.4.0"
redis = "*"
numpy = "*"
jsonschema = "*"
docker = "*"
trio = "*"
websocket-client = "*"
tensorboardX = "*"
opencv-python = "*"
imgaug = "*"


[dev-packages]

pylint = "*"
#black = "*"
cached-property = "*"
rope = "*"
autoflake = "*"
